<div data-ng-if="showTemplate">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <!-- Reset Password Section -->
            <div>
                <!-- Page title -->
                <!--<h1>Reset Password</h1>-->

                <!-- Login Form -->
                <form name="reset-password-form" data-ng-submit="resetPassword(creds)" >
                    <div class="form-group">
                        <input type="email" id="email" name="df-reset-password-email" placeholder="Enter Email"
                               data-ng-model="creds.email" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="code" name="code" placeholder="Enter Confirm Code"
                               data-ng-model="creds.code" class="form-control" required>
                    </div>

                    <div class="form-group" >
                        <p data-ng-class="{'has-error' : identical === false}">
                            <input type="password" id="password" name="df-reset-password-password" placeholder="Enter Password"
                                   data-ng-model="creds.new_password" class="form-control" required
                                   data-ng-keyup="verifyPassword(creds)" >
                        </p>

                        <p data-ng-class="{'has-error' : identical === false}">
                            <input type="password" id="verify-password" name="df-reset-password-verify-password" placeholder="Verify Password"
                                   data-ng-model="creds.verify_password" class="form-control" required
                                   data-ng-keyup="verifyPassword(creds)" >
                        </p>
                    </div>

                    <!-- <input type="submit" value="submit"> -->
                    <input class="btn btn-default" id="submit-password-reset" type="submit" value="Reset Password">

                </form>
            </div>
            <!-- End Login Section -->

        </div>
    </div>
</div>
